<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.stk.dao.MpTypeDao">
	<insert id="addMulvmp" parameterType="Type">
		insert into
		mptype(TypeName,ParentID,Sort) values (#{TypeName},#{ParentID},#{Sort})
	</insert>
</mapper>